/*Estilos generales */
body {
    font-family: 'Times New Roman', Times, serif;
}

/*header*/
header {
    background-color: #E5E5E5;        
    text-align: center;      
}

h1, h2 {
    background-color:#C4C4C4 ;
    color: #005677; 
    letter-spacing: 5px;
    text-transform: uppercase;        
}
h1 {
    font-size: 35px;
}

/*Main*/
.container {
    margin: 60px auto;
    max-width: 70%;
}
h2 {
    font-size: 20px;
}
dl {
    margin-left: 40px;
}

dd {
    margin-left: 80px;
}

span {
    font-weight: 700;
}
.personal {
    font-style: italic;
}
/*Footer*/
footer {
    background: #005677;
    text-align: center;
    color: #ffff;
    letter-spacing: 5px;
    margin: 45px 0 ;
}

footer a{
    color: #fff; 
  }

